<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand logo">{{title}}</a>
        </div>
        <div id="navbar">
            <ul class="nav navbar-nav" *ngIf="(user| async)?.uid">
                <li class="nav-item active"><a class="nav-link" routerLink="/gallery">Image Gallery</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/upload">Upload</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngIf="!(user|async)?.uid">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item active" *ngIf="(user|async)?.uid">
                    <a href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>